:root {
  --primaryFont: Roboto;
  --primaryFontSize: 14px;
  --secondFontSize: 16px;
  --primaryBgColor: #e5e5e5;
  --secondaryBgColor: #f5f4fa;
  --lightBgColor: #ffffff;
  --lightColor: #ffffff;
  --textColor: #757575;
  --darckColor: #212121;
  --accentColor: #2196f3;
  --hoverBtnColor: #188ce8;
  --logoColor: #2196f3;
  --logoColorDarck: #000000;
  --logoColorLight: #ffffff;
  --darkBgColor: #2f303a;
  --socialBgColor: rgba(255, 255, 255, 0.1);
  --footerColor: rgba(255, 255, 255, 0.6);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --boxShadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  font-family: var(--primaryFont), Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--primaryFontSize);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--textColor);
}

.title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--darckColor);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.btn {
  display: block;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.burger-btn {
  margin-left: auto;
  background-color: transparent;
  line-height: 0;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.burger-btn:hover .burger-icon,
.burger-btn:focus .burger-icon {
  fill: var(--accentColor);
}

.mobile-menu {
  position: fixed;
  z-index: 888;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--lightBgColor);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  line-height: 0;
}

.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: var(--accentColor);
}

.mobile-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--darckColor);
  transition: color 250ms var(--cubic);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accentColor);
}

.mobile-menu__link--current {
  color: var(--accentColor);
}

.contact-menu {
  margin-bottom: 64px;
}

.mobile-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contact__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  transition: color 250ms var(--cubic), scale 250ms var(--cubic);
}

.mobile-contact__link:hover, .mobile-contact__link:focus {
  transform: scale(1.3);
  color: var(--accentColor);
}

.mobile-social {
  display: flex;
}

.mobile-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}

.mobile-social__link {
  padding-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accentColor);
}

@media screen and (max-width: 479px) {
  .mobile-social__link {
    font-size: 4vw;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--logoColor);
}

.logo--darck {
  color: var(--logoColorDarck);
}

@media screen and (min-width: 480px) {
  .logo-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .logo-header {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-header {
    margin-right: 93px;
  }
}

.logo--light {
  color: var(--logoColorLight);
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
}

.section-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--darckColor);
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.social-wrap {
  margin-bottom: 60px;
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--textColor);
  border-radius: 50%;
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic);
}

.social__link:hover, .social__link:focus {
  color: var(--lightColor);
  background-color: var(--accentColor);
}

.icon__social {
  fill: currentColor;
}

.social__link--light {
  color: var(--lightColor);
  background-color: var(--socialBgColor);
  transition: background-color 250ms var(--cubic);
}

.social__link--light:hover, .social__link--light:focus {
  background-color: var(--hoverBtnColor);
}

.icon-social--light {
  fill: currentColor;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__head {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--darckColor);
}

.form__field {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--textColor);
}

.form__field:not(:last-child) {
  margin-bottom: 10px;
}

.form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic);
}

.form__input:focus, .form__input:hover {
  outline: none;
  border-color: var(--accentColor);
}

.form-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--cubic);
}

.form__input:focus ~ .form__icon,
.form__input:hover ~ .form__icon {
  fill: var(--accentColor);
}

.form__massege {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic);
  outline: none;
  resize: none;
}

.form__massege:focus, .form__massege:hover {
  border-color: var(--accentColor);
}

.form__massege::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-checkbox__field {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 7px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .form-checkbox__field {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .form-checkbox__field {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-checkbox__field::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: 1px solid var(--darckColor);
  border-radius: 2px;
  transition: background-color 250ms var(--cubic), border-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
  cursor: pointer;
}

.form-checkbox:focus + .form-checkbox__field::before,
.form-checkbox:hover + .form-checkbox__field::before {
  border-color: var(--accentColor);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.form-checkbox:checked + .form-checkbox__field::before {
  border-color: var(--accentColor);
  background-color: var(--accentColor);
}

.form__link {
  color: var(--accentColor);
}

.top__btn--send {
  align-self: center;
}

@media screen and (min-width: 1200px) {
  .form-subscriptions {
    margin-left: auto;
  }
}

.form-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .form-wrap {
    flex-direction: column;
  }
}

.form-subscriptions__input {
  width: 100vw;
  height: 50px;
  padding: 15px 16px;
  color: var(--lightColor);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic);
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .form-subscriptions__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .form-subscriptions__input {
    width: 358px;
    margin-right: 12px;
  }
}

.form-subscriptions__input:focus, .form-subscriptions__input:hover {
  outline: none;
  border-color: var(--accentColor);
}

@media screen and (max-width: 1199px) {
  .form__label {
    margin-bottom: 20px;
  }
}

.form__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-send {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 320px;
  min-height: 609px;
  padding: 40px;
  background-color: var(--lightBgColor);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--cubic), scale 250ms var(--cubic);
}

@media screen and (min-width: 480px) {
  .modal {
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal-icon {
  fill: currentColor;
  transition: fill 250ms var(--cubic);
}

.modal__btn:hover .modal-icon {
  fill: var(--hoverBtnColor);
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--lightBgColor);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.filter__list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .filter__list {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .filter__list {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.filter__item:nth-child(-2n + 3) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter__item:nth-child(-n + 2), .filter__item:nth-child(4) {
    margin-right: 8px;
  }
}

@media screen and (max-width: 767px) {
  .filter__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 480px) {
  .filter__item:not(:last-child) {
    margin-right: 8px;
  }
}

.filter__btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: var(--secondFontSize);
  line-height: 1.62;
  text-align: center;
  background-color: var(--secondaryBgColor);
  border-radius: 4px;
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
  cursor: pointer;
}

.filter__btn:hover, .filter__btn:focus {
  color: var(--lightColor);
  background-color: var(--accentColor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__btn--active {
  color: var(--lightColor);
  background-color: var(--accentColor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header-container {
    min-height: 60px;
  }
}

.header-inner {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-inner {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.nav__list {
  display: flex;
}

@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__link {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--darckColor);
  transition: color 250ms var(--cubic);
}

.nav__link:hover, .nav__link:focus {
  color: var(--accentColor);
}

.nav__link--current {
  color: var(--accentColor);
}

@media screen and (min-width: 768px) {
  .nav__link--current::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accentColor);
  }
}

@media screen and (min-width: 768px) {
  .contact__list {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contact__list {
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contact__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  transition: color 250ms var(--cubic);
}

@media screen and (min-width: 1200px) {
  .contact__link {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.contact__link:hover, .contact__link:focus {
  color: var(--accentColor);
}

.icon {
  fill: currentColor;
}

.contact__icon {
  margin-right: 8px;
}

.top__section.overlay {
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 57, 0.4)), url(../images/hero/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-divace-pixel-ratio: 2), (min-resolition: 192dpi), (min-resolution: 2dppx) {
  .top__section.overlay {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 57, 0.4)), url(../images/hero/hero@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .top__section.overlay {
    max-width: 768px;
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 57, 0.4)), url(../images/hero/hero-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-divace-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolition: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .top__section.overlay {
    max-width: 768px;
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 57, 0.4)), url(../images/hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .top__section.overlay {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 57, 0.4)), url(../images/hero/hero-desktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-divace-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolition: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .top__section.overlay {
    max-width: 1600px;
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 57, 0.4)), url(../images/hero/hero-desktop@2x.jpg);
  }
}

.top__section {
  background-color: var(--darkBgColor);
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .top__section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.top__title {
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--lightColor);
}

@media screen and (min-width: 768px) {
  .top__title {
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .top__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.5;
  }
}

.top__btn {
  margin: 0 auto;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--lightColor);
  background-color: var(--accentColor);
  border-radius: 4px;
  transition: color 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

.top__btn:hover, .top__btn:focus {
  background-color: var(--hoverBtnColor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .features-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-item {
    margin: 15px;
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features-item {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.features-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondaryBgColor);
  border-radius: 4px;
}

.features-caption {
  margin-bottom: 10px;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .features-caption {
    text-align: center;
  }
}

.work {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__list {
  display: flex;
}

.work__item {
  position: relative;
}

.work__item:not(:first-child) {
  margin-left: 30px;
}

.work__overlay {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__content {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--lightColor);
}

.team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  margin-bottom: 30px;
  background-color: var(--lightBgColor);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .team__item {
    margin: 15px;
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.team__content {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__caption {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--darckColor);
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.client {
  background-color: var(--lightBgColor);
}

.client__icon {
  fill: currentColor;
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

@media screen and (min-width: 480px) {
  .client__list {
    margin: -15px;
  }
}

.client__item {
  margin: 10px;
  flex-basis: calc((100% - 2 * 20px) / 2);
}

@media screen and (min-width: 480px) {
  .client__item {
    margin: 15px;
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .client__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    flex-basis: calc((100% - 6 * 30px) / 6);
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: color 250ms var(--cubic), border-color 250ms var(--cubic);
}

.client__link:hover, .client__link:focus {
  border-color: var(--accentColor);
  color: var(--accentColor);
}

.footer {
  padding: 60px 0;
  background-color: var(--darkBgColor);
}

@media screen and (max-width: 767px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}

@media screen and (max-width: 1199px) {
  .address {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
  }
}

.address__link {
  margin-bottom: 8px;
  font-style: normal;
  color: var(--lightColor);
  transition: color 250ms var(--cubic);
}

.address__link:hover, .address__link:focus {
  color: var(--accentColor);
}

.footer__item:first-child {
  margin-bottom: 8px;
}

.footer__link {
  font-style: normal;
  color: var(--footerColor);
  transition: color 250ms var(--cubic);
}

.footer__link:hover, .footer__link:focus {
  color: var(--accentColor);
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--lightColor);
}

@media screen and (max-width: 1199px) {
  .footer__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .examples__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .examples__item {
    margin: 15px;
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .examples__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (max-width: 767px) {
  .examples__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.examples__overlay {
  overflow: hidden;
  position: relative;
}

.overlay__text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
}

.examples__link:hover .overlay__text,
.examples__link:focus .overlay__text {
  transform: translateY(0);
}

.examples__content {
  padding: 20px 24px;
  background-color: var(--lightBgColor);
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .examples__item:first-child .examples__content {
    padding-bottom: 56px;
  }
}

.examples__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--darckColor);
}

.examples__text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--textColor);
}

.examples__link {
  display: block;
  transition: box-shadow 250ms var(--cubic);
}

.examples__link:hover, .examples__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
/*# sourceMappingURL=main.css.map */