.examples__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.examples__item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.examples__overlay {
  overflow: hidden;
  position: relative;
}

.overlay__text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
  
    .examples__link:hover &,
    .examples__link:focus & {
      transform: translateY(0);
    }
}

.examples__content {
  padding: 20px 24px;
  background-color: var(--lightBgColor);
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.examples__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--darckColor);
}

.examples__text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--textColor);
}

.examples__link {
  display: block;
  transition: box-shadow 250ms var(--cubic);
    
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
       1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

