.footer {
  padding: 60px 0;
  background-color: var(--darkBgColor);

  @media screen and (max-width: 767px) {
    
    text-align: center;
  }

}

.footer-tablet {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: baseline;
        justify-content: space-around;               
    }
}

.tablet-inner {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.address {   
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: column;
        margin-right: 70px;        
    }
}

.address__link {
  margin-bottom: 8px;
  font-style: normal;
  color: var(--lightColor);
  transition: color 250ms var(--cubic);
  
  &:hover,
  &:focus {
    color: var(--accentColor);
  }
}

.footer__item {
  &:first-child{
    margin-bottom: 8px;
  }
  
}

.footer__link {
  font-style: normal;
  color: var(--footerColor);
  transition: color 250ms var(--cubic);
  
    &:hover,
    &:focus {
      color: var(--accentColor);
    }
}


.footer-container {
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
        
    }
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--lightColor);

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}