.work {
  padding-bottom: 94px;
}

.work__list {
  display: flex;
}

.work__item {
  position: relative;
}

.work__item {
  &:not(:first-child){
    margin-left: 30px;
  }
}

.work__overlay {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__content {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--lightColor);
}