.form {
  display: flex;
  flex-direction: column;
}

.form__head {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--darckColor);
}

.form__field {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--textColor);

  &:not(:last-child) {
  margin-bottom: 10px;
}
}

.form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic);
    
    &:focus,
    &:hover {
      outline: none;
      border-color: var(--accentColor);
    }
}

.form-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--cubic);
  
  .form__input:focus ~ &,
  .form__input:hover ~ & {
    fill: var(--accentColor);
  }
}

.form__massege {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic);
  outline: none;
  resize: none;
  
  &:focus,
  &:hover {
    border-color: var(--accentColor);
  }
}

.form__massege::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  
}


.form-checkbox__field {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  cursor: pointer;

  @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.71;
  }
}

.form-checkbox__field::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: 1px solid var(--darckColor);
  border-radius: 2px;
  transition: background-color 250ms var(--cubic),
    border-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
  cursor: pointer;

  .form-checkbox:focus + &,
  .form-checkbox:hover + & {
    border-color: var(--accentColor);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.form-checkbox:checked + .form-checkbox__field::before {
  border-color: var(--accentColor);
  background-color: var(--accentColor);
}

.form__link {
  color: var(--accentColor);
}

.top__btn--send {
  align-self: center;
}