.burger-btn {
  margin-left: auto;
  background-color: transparent;
  line-height: 0;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover .burger-icon,
  &:focus .burger-icon {
    fill: var(--accentColor);
  }
}

.mobile-menu {
  position: fixed;
  z-index: 888;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--lightBgColor);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  line-height: 0;

  &:hover .close-icon,
  &:focus .close-icon {
    fill: var(--accentColor);
  }
}

.mobile-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--darckColor);
  transition: color 250ms var(--cubic);

  &:hover,
  &:focus {
    color: var(--accentColor);
  }
}

.mobile-menu__link--current {
  color: var(--accentColor);
}

.contact-menu {
  margin-bottom: 64px;
}

.mobile-contact__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-contact__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  transition: color 250ms var(--cubic), scale 250ms var(--cubic);

  &:hover,
  &:focus {
    transform: scale(1.3);
    color: var(--accentColor);
  }
}

.mobile-social {
  display: flex;
}

.mobile-social__item {
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 10px;
  }
}

.mobile-social__link {
  padding-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accentColor);

  @media screen and (max-width: 479px) {
    font-size: 4vw;
  }
}
