.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--textColor);
  border-radius: 50%;
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic);
    
    &:hover,
    &:focus {
      color: var(--lightColor);
      background-color: var(--accentColor);
    }
}

.icon__social {
  fill: currentColor;
}

.social__link--light {
  color: var(--lightColor);
  background-color: var(--socialBgColor);
  transition: background-color 250ms var(--cubic);
    
    &:hover,
    &:focus {
      background-color: var(--hoverBtnColor);
    }
}

.icon-social--light {
  fill: currentColor;
}