:root {
  --primaryFont: Roboto;
  --primaryFontSize: 14px;
  --secondFontSize: 16px;
  --primaryBgColor: #e5e5e5;
  --secondaryBgColor: #f5f4fa;
  --lightBgColor: #ffffff;
  --lightColor: #ffffff;
  --textColor: #757575;
  --darckColor: #212121;
  --accentColor: #2196f3;
  --hoverBtnColor: #188ce8;
  --logoColor: #2196f3;
  --logoColorDarck: #000000;
  --logoColorLight: #ffffff;
  --darkBgColor: #2f303a;
  --socialBgColor: rgba(255, 255, 255, 0.1);
  --footerColor: rgba(255, 255, 255, 0.6);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --boxShadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}